PyPDF2
sentence-transformers
transformers
deep-translator
weaviate
weaviate-client
typing-extensions
torch
numpy
pandas
sentencepiece
streamlit
openai==0.28
scikit-learn
seaborn
python-dotenv
matplotlib
imbalanced-learn
xgboost
